*.iml
.gradle
/local.properties
/.idea
.gradle/
.gradle/4.10.2/fileHashes
.gradle/buildOutputCleanup
build/
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml
.DS_Store
build
/captures
.externalNativeBuild
buildSrc
buildSrc/.gradle
buildSrc/build/libs
buildSrc/build/tmp/jar/MANIFEST.MF
*.MF